!out
out/*
!out/*.tgz

*.zip

sourcedata

.idea
venv
wiki/
.ipynb_checkpoints
notebooks/tfidf/stories
testdata/

__pycache__
!out.tgz
!word_dict_out.tgz

nohup*

.python-version

mlruns/
topics/

/dict/

gen/
